<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.wolfox00.user.Service.UserMapper">
  <select id="selectUserListAll" resultType="com.cafe24.wolfox00.user.vo.UserRequest">
  	SELECT *
  	FROM user
  </select>
  <select id="login" resultType="int">
    SELECT COUNT(*)
    FROM user
    WHERE id=#{id} AND pw=#{pw}
  </select>
  <insert id="addUser" parameterType="com.cafe24.wolfox00.user.vo.User">
  	INSERT INTO user
  	VALUES(0,#{id},#{pw},null,now())
  </insert>
</mapper>